{% extends 'base.html' %}
{% block content %}

<h2>Reset Password</h2>

{% if messages %}
    {% for message in messages %}
        <p style="color:red;">{{ message }}</p>
    {% endfor %}
{% endif %}

<form method="post">
    {% csrf_token %}
    <label>New Password</label>
    <input type="password" name="password" minlength="8" maxlength="16" required>

    <label>Confirm Password</label>
    <input type="password" name="confirm_password" minlength="8" maxlength="16" required>

    <button type="submit">Change Password</button>
</form>

{% endblock %}